
.v-application  {
   font-family: 'Spartan', sans-serif !important; 
    ::-webkit-scrollbar {
    width: 7px;
    height: 7px !important;
    margin:50px !important;
  }

  .v-text-field .v-input__control .v-input__slot {
		min-height: 0 !important;
		padding: 0 8px !important;
		margin-bottom: 2px !important;
		display: flex !important;
		align-items: center !important;
			height: 32px !important;
	}
  .v-textarea .v-input__control .v-input__slot {
		// min-height: 10 !important;
		// padding: 0 10px !important;
		// margin-bottom: 2px !important;
		display: flex !important;
		align-items: center !important;
    overflow: hidden;
		min-height: 120px !important;
	}.v-autocomplete .v-input__control .v-input__slot {
		min-height: 0 !important;
		padding: 0 8px !important;
		margin-bottom: 2px !important;
		display: flex !important;
		align-items: center !important;
		height: 32px !important;
	}

	.v-text-field .v-input__control .v-input__slot .v-input__append-inner {
		margin-top: 2px !important;
																								} 

	.v-text-field .v-input__control .v-input__slot label {
		margin-top: -2px !important;
	}

	.v-text-field .v-input__control .v-input__slot label.v-label--active {
      margin: 0 0 0 2px !important;
    }

    .v-text-field__details {
      margin: 2px !important;
    }
    
      .v-text-field > .v-input__control > .v-input__slot:before {
      border-style: none;
    } 
	// .v-text-field.v-text-field--solo .v-input__control {
	// 	height: 10px !important;
	// }

	.v-label {
		font-size: 14px;
	}

	::-webkit-scrollbar {
		width: 7px;
		border-radius: 50px !important;
		-webkit-border-radius: 50px !important;
		-moz-border-radius: 50px !important;
		-ms-border-radius: 50px !important;
		-o-border-radius: 50px !important;
}

	/* Track */
	::-webkit-scrollbar-track {
		background: white;
		border-radius: 50px !important;
		-webkit-border-radius: 50px !important;
		-moz-border-radius: 50px !important;
		-ms-border-radius: 50px !important;
		-o-border-radius: 50px !important;
}
	/* Handle */
	::-webkit-scrollbar-thumb {
		background: rgb(185, 202, 228);
		border-radius: 50px !important;
		-webkit-border-radius: 50px !important;
		-moz-border-radius: 50px !important;
		-ms-border-radius: 50px !important;
		-o-border-radius: 50px !important;
}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: rgb(185, 202, 228);
	}
 
 [class*='text-'] {
 font-family: 'Spartan', sans-serif !important; 
 font-size: 14px;
  /* width */
 
 }
  
  .chip {
	
		background-color: rgba(230, 163, 20, 0.878) !important;
		border-radius: 12px !important;
	}
	.chip_type {

		color: white !important;
		font-weight: bold !important;
		font-size: 14px !important;
	}

  // font-family: 'Poppins', sans-serif !important;
 
  .v-text-field input {
    font-size: 14px !important;
    font-weight:bold !important;
    color:grey !important;
    
  }
 .v-text-field textarea {
    padding-right: 14px;
    font-size: 14px !important;
    font-weight: bold;
    color:grey !important;

   
    padding-top: 15px;
}
// .v-text-field button {

//   font-size: 17px !important;
//   font-weight: bold;
//   color:grey !important;
//   text-transform: capitalize;
 
 
// }
.v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label .v-placeholder {
  font-size:10px !important;
  align-items: center;


  font-size: 14px;
  font-weight:bold !important;
  color:grey !important
}
  ::v-deep .v-label {
    font-size: 16px
  }
  ::v-deep .v-label--active {
    font-size: 14px;
    font-weight: bold;
  }
 

  

  .v-navigation-drawer {
    .v-navigation-drawer__content {
     
      .v-list {
        .v-list-item--active {
          background-color: #F3F5FF;
          &:before {
            opacity: 0;
          }
        }
        .v-list-item:hover {
          background-color: #F3F5FF;
          &:before {
            opacity: 0;
          }
        }
      }
    }
  }

  // h1 {
  //   font-size: $h1-font-size !important;
  //   font-weight:200;
  //   margin-bottom: 16px;
  //   line-height: 1;
  // }
  // h2 {
  //   font-size: $h2-font-size !important;
  //   font-weight:200;
  //   margin-bottom: 16px;
  //   line-height: 1;
  // }
  // h3 {
  //   font-size: $h3-font-size !important;
  //   font-weight:200;
  //   margin-bottom: 16px;
  //   line-height: 1;
  // }
  // h4 {
  //   font-size: $h4-font-size !important;
  //   font-weight:200;
  //   margin-bottom: 16px;
  //   line-height: 1;
  // }
  // h5 {
  //   font-size: $h5-font-size !important;
  //   font-weight:200;
  //   margin-bottom: 16px;
  // }
  // h6 {
  //   font-size: $h6-font-size !important;
  //   font-weight: 200;
  //   margin-bottom: 16px;
  // }
  .text-h1 {
	font-size: 28px !important;
	}
	.text-h2 {
	font-size: 24px !important;
	}
	.text-h3 {
	font-size: 18px !important;
	}
	.text-h4 {
		font-size: 15px !important;
	}
	.text-h5 {
		font-size: 12px !important;
	}
	.text-h6 {
		font-size: 12px !important;
	}.text-body-1 {
		font-size: 11px !important;
	}.text-body-2{
		font-size: 10px !important;
	}.text-subtitle-1 {
		font-size: 9px !important;
	}.text-subtitle-2 {
		font-size: 8px !important;
	}
  .text

  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .no-gutters {
    margin: 0;
  }
}
.mapContainer + footer.v-footer {
  display: none;
}


.toasted-container {
  .toasted {
    height: 50px!important;
    box-shadow: none;

    &.default {
      background: $primary !important;
    }

    &.error {
      background: $error !important;
    }

    &.success {
      background: $success !important;
    }

    &.info {
      background-color: $primary !important;
    }

    &.warning {
      background: $warning!important;
    }

    .action {
      color: $text-color;
    }
  }
}


